<%- include("./header"); %>
<div class="container ">
 
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/completion(2).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/GettyImages-1489084299.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/1366_2000.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container bg-light py-2 text-center" id="logotipo">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/New-Balance-Symbol-PNG.png" alt="" class="logo1">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/nike-logo-18-1024x1024.png" alt="" class="logo2">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/adidas-logo-107B082DA0-seeklogo.com.png" alt="" class="logo3">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/Jimmy_Choo_logo.svg.png" alt="" class="logo4">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/Louis_Vuitton_LV_logo.png" alt="" class="logo5">
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <img src="img/Converse_logo.svg.png" alt="" class="logo6">
    </div>
  </div>

</div>

<div class="container py-4 bg-info">
  <h2 class="text-center" id="aboutus">Acerca de nosotros</h2>
  <div class="row">
    <div class="col" id="sobre1">Flexvibe busca ofrecer calzado de alta calidad y estilo a precios asequibles y brindar
      una experiencia excepcional de atencion al cliente.
    </div>
    <div class="col" id="sobre2">Nuestro principal objetivo es proyectarnos como el socio comercial ideal para
      nuestros clientes, creciendo de manera sostenida y manteniendo nuestros valores humanos.
    </div>
  </div>
</div>
  
<%- include("./footer"); %>