<%- include("../header"); %>
<div class="container">

    <div class="col-12">
    
        <table class="table">
            <thead class="table-dark">
                <td>hola</td>
                <td>q</td>
                <td>aase</td>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
          </table>
          


    </div>

</div>
<%- include("../footer"); %>